<section class="cuento">
      
    <div class="pagina container">
      <div class="titulos">
        <h3>Don Pedro del gualeguay</h3>  
      </div>
      <div class="texto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pedro Balladares, toda su vida fue tropero. No se le conoció otro oficio.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se había criado arriando junto a su padre, y ya grande le siguió en fama. Eran tan extendidas sus mentas que lo llamaban para hacer arreos en las llanuras pampeanas, en los faldeos cordobeses; para cruzar tropa a Chile, arrebañar ariscos en las cuchillas correntinas u orientales, como majadear en abras patagónicas.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tenía muy pocos caballos, pero todos a prueba de caminos y travesías. El no decía que era un hombre de a caballo, decía que era un “hombre del recado”. Si, claro, desde el recado ejercía su oficio y sobre el recado dormía, a cielo abierto, toda la vida. Podía decirse que era un hombre de vida a cielo abierto, como todos los reseros.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por encima de ese destino de andancia, como el hombre era de Elordi, a su pago volvía siempre. En la punta del pueblo, casi a las afueras, tenía un solar generoso, y allí sentaba sus reales; incluyendo los caballos, si no los ubicaba en el campo de algún amigo cuando su estada no era breve; nunca faltó quien le diera lugar para sus caballos.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En el solar, cercado por un alambrado primitivo, tenía una bomba de mano, un bebedero y un excusado, y en el centro, un gualeguay añoso; debajo de su fronda el hombre vivía y dormía en su recado.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Era un hombre de trato correcto y reservado, por todos respetado. Como no era un hombre de a pie, cuando salía a buscar algunos suministros o a tomarse una copita en el almacén y despacho de bebidas de don Angel Martínez, lo hacía invariablemente de a caballo.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Con el tiempo, en sus breves estadías, se lo vio ir levantando poco a poco un rancho de chorizo, entre la bomba y el Gualeguay, cuando lo tuvo listo, le quedó un ranchito escaso y decente, pero él, sin que nadie se preguntara demasiado, continuó viviendo y durmiendo debajo del Gualeguay afuera, como en los arreos.
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Como al año, se juntó con la Panchita Meliendre, mucho más joven que él, y en el ranchito la instaló. En un hombre tan de paso, y como no se les vio noviazgo, nadie lo hubiera esperado. Pero cayó bien, porque la Panchita, hija de criollos, tan hacendosa y recatada, era de su misma laya. Eso sí, él continuó durmiendo en su recado debajo del Gualeguay, invierno y verano. Soberanamente.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Después de juntado, pareció volver más pronto de cada viaje. Como sabiendo o presagiando, cuando se la veía a la Panchita esperarlo en el portillo, ése o al otro día, caía de regreso el arriero. Desensillaba y debajo del gualeguay, mateaban o churrasqueaban mientras seguramente le contaría las cosas de sus andanzas. Horas pasaban allí, conversando, sentados en unos banquitos criollos, como si ella lo visitara. Cuando el calor apretaba o la noche subía, ella volvía a su morada a escasos tres cuatro metros, como quien vuelve a su casa. Y él, se entregaba al descanso, sobre el recado. Nunca nadie lo vio vivir o dormir adentro. El rancho daba frente al camino de los tamberos, y muchos de ellos, al pasar, los veían conversar largamente, ella parada en la puerta del rancho y él allí al pie del gualeguay, como si fuera una visita.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Así y todo, tuvieron siete hijos. Hermosos, juiciosos, de su misma estampa. Con toda naturalidad y cariño, en el pueblo les llamaban “los hijos del recado”.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;..................
        
        </p>
        <br>
        <h5 class="autor">Angel Aimetta</h5>
        <h6 class="comentario">Del Capítulo “El Arriero” del libro:
            “Oficios y personajes del campo” 
           Edición del INTA 2007.</h6>
        <br>
        <!---
        <a class="anterior" routerLink="/cuento4">Anterior</a>
        <a class="siguiente" routerLink="/cuento2">Siguiente</a>--->

      </div>
        
    </div>

</section>

