<section class="cuento">
      
    <div class="pagina container">
      <div class="titulos">
        <h3>Espera</h3>  
      </div>
      <div class="texto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;…  en el Toay viejo<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serían las 11 de la mañana de un caluroso domingo de enero y el resol aplastaba el paisaje pobre del Toay viejo. No andaba un alma, y un viento bajo y díscolo remolineaba sin rumbo por las calles, sacudía con violencia los eucaliptos y las acacias negras y agitaba una polvareda semejante a un lienzo pardo tejido de arenillas y limaduras.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A la vieja Estación del que fuera el Ferrocarril del Sud, que antaño conectara a Toay con Bahía Blanca, uniendo a su paso un rosario de pueblitos rurales hoy agónicos o desaparecidos, con sus Estaciones abatidas y kilómetros de rieles tapados por la arena o el fachinal, la cercaba un cordón de antiguos caseríos y unos pocos ranchos en la retaguardia, la mayoría tapera, resignados a sucumbir lentamente al abandono y al paso del tiempo.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La historia vivida y el esplendor de entonces, se revelan a través de grandes portales desmembrados, fachadas altas, señoriales pabellones, voladizos, cornisas y tapiales fragmentados o derrumbados; enormes y audaces gajos y raíces, como verdes boas constrictoras, completan la tarea abrazando y asfixiando molduras y columnas, declinando techos, agrietando muros y removiendo cimientos; encima, a una distancia cada vez más corta, el caldenar centenario, verde intenso y sombrío, ha recobrado su intrepidez primitiva y, como un lento malón del pasado, viene por lo suyo invadiéndolo todo con un renoval enmarañado que nace y crece salvaje hasta en los mismos umbrales, patios y corralones de viviendas y negocios que fueron de un pueblo que se mudó a la ciudad nueva, buscando la ruta y el asfalto.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En busca nostálgica de esos testimonios del pasado, y para ver si entiende de una buena vez el sinsentido de ese abandono y la mudanza, va el viajero conduciendo con recogimiento y cautela su automóvil por esa polvorienta y desolada calle que ya no se transita.  Nadie queda allí, nadie vive ya en esa geografía desalojada.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De pronto, en medio de esa calle angostada por el verde tapiz de la gramilla que avanza a sus anchas, la escena se presenta a sus ojos como una alucinación: el cuerpo inerte de un hombre viejo tumbado boca abajo y con los brazos y las piernas extendidos sobre el playón barrido por el viento. A su lado, una mujer anciana y magra, vestida totalmente de negro, con la cabeza y el rostro cubiertos por un antiguo rebozo pardo oscuro, en cuclillas, haciéndole campana en el piso la amplia falda, inmóvil y en actitud contrita, aprieta un misal entre sus manos y parece rezar.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El viajero, entre el espejismo y la realidad, se acerca temeroso y en suspenso para preguntar al fin lo que no quiere preguntar:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;— ¿Qué pasó? ¿Cómo fue? ...¿En qué puedo ayudarla?<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—	No, nada nomás, señor —contestó la vieja criolla—.  El  está mamadito y dormido, y yo lo 
            espero... como siempre.</p>
        <br>
        <h5 class="autor">Angel Cirilo Aimetta</h5>
        <h6 class="comentario">Del libro, en preparación: "Cosas de la llanura - Abril de 2000.</h6>
        <br>
        

      </div>
        
    </div>

</section>
