<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>Cuentos</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a routerLink="/cuento" ngbDropdownItem>Para el que mira sin ver</a>
            <a href="" ngbDropdownItem>Me gustas cuando callas</a>
            <a href="" ngbDropdownItem>Una rosa y un clavel</a>
            <a href="" ngbDropdownItem>Las increibles aventuras de...</a>
            <a href="" ngbDropdownItem>Caminos</a>
            <a href="" ngbDropdownItem>Hola Chau</a>
            <a href="" ngbDropdownItem>Girasoles</a>
            <a href="" ngbDropdownItem>Me gustas cuando callas</a>
            <a href="" ngbDropdownItem>Una rosa y un clavel</a>
            <a href="" ngbDropdownItem>Las increibles aventuras de...</a>
        </div>
      </div>
    </div>
</div>
