section {
    margin:0 auto;
    padding:0 auto;
}
/* Banner y titulo*/
.banner {
    width: 100%;
    height:100vh;
    background:url(../../../assets/img/coladezorro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    text-align: center
}

.presentacion {    
    text-align: center;
    justify-content: center;
    padding:0 auto;
    margin:0 auto;
} 
.banner h2 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size:7rem;
    color:rgb(63, 9, 9);
    margin:0 auto;
    padding-top:50px;
}

/* cajas de cuentos */

.caja {
     text-align: center;
     background:rgb(230, 229, 199);
     margin:75px;
     border-radius: 15px;
     border:1px solid yellow;
     padding:25px;

}

.tarjeta {
    padding:0 auto;
    text-align: center;
    position:relative;
    top:-30px;
    
}
.caja ul {
    margin:0 auto;
    padding:0 0 0 0;
}

.caja ul li {
    list-style: none;
    margin:10px;
}

.caja ul li a {    
    color:black;
    font-size: 1.1rem;
    text-decoration: none;
}

.caja ul li a:hover {
    color:green;
}

.line {
    display:inline;
}

@media only screen and (max-width: 410px) {
    .banner h2 {font-size:5rem}
}