<section id="textos" class="banner fixed">
    <div class="presentacion">
        <h2 class="titulo">Anécdotas</h2>
        <div class="tarjeta">
            <div class="caja">
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>
                <a routerLink="/cuento">Para el que mira sin ver</a>                
            </div>                
        </div>                         
    </div>
</section>
