<section id="textos" class="textos">
    <div class="presentacion">
        <h2 class="titulo">Cuentos</h2>
        <div class="">
            <div class="lista">
                <ul>
                    <li class="cuentico">
                        <a routerLink="/cuento1">Don Pedro del Gualeguay</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento2">Dureza en el monte</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento3">El cebú y la gorra</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento4">El sacrificio de navidad</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento5">El tren frutero</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento6">Espera</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento7">Hacha y memoria</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento8">Las crías de Eulogia, en el Valle Daza</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento9">Sombra y camino</a>
                    </li>
                    <li class="cuentico">
                        <a routerLink="/cuento10">Un dia pleno</a>
                    </li>                   
                </ul>                
            </div>                
        </div>               
    </div>
</section>

<!-----
<iframe width="560" height="315" src="https://www.youtube.com/embed/BdXlLTc0Pmo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
---->
