<section id="textos" class="textos">
    <div class="presentacion">
        <h2 class="titulo">Cuentos</h2>
        <div class="">
            <div class="lista">
                <div class="cuentico">
                    <a routerLink="/cuento1">Don Pedro del Gualeguay</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento2">Dureza en el monte</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento3">El cebú y la gorra</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento4">El sacrificio de navidad</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento5">El tren frutero</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento6">Espera</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento7">Hacha y memoria</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento8">Las crías de Eulogia, en el Valle Daza</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento9">Sombra y camino</a>
                </div>
                <div class="cuentico">
                    <a routerLink="/cuento10">Un dia pleno</a>
                </div>              
            </div>                
        </div>               
    </div>
</section>