<section class="cuento">
      
    <div class="pagina container">
      <div class="titulos">
        <h3>Un dia pleno</h3>  
      </div>
      <div class="texto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abrió la ventana de su habitación del tercer piso del Hotel Litoral, miró el amanecer y quedó deslumbrado.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En su tránsito inmemorial, el ancho Paraná iba rumbo al sur, adormilado y sin prisa. Lo escoltaba una caravana celebrante de pájaros multicolores, mientras se dejaban llevar al rumbo, aislados camalotes.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sobre el horizonte, una descomunal brasa rojo-escarlata, como salida del rescoldo de la noche, corría el telón de un nuevo día matizando con reflejos de aurora la leonada cabellera del milenario río.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pasado el éxtasis, el viajero cierra ventanas y equipaje y marcha en su automóvil, también  hacia el sur.  Su destino es el confín de La Pampa y, para ello, debe atravesar más de un millar de kilómetros y los rigores de un verano abrasador.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Como el sol y como el río, aunque él se sepa apenas una diminuta y finita partícula cósmica, tiene también ordenada terrenalmente su rutina de vida (y de viajero).<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Era un viaje más, pero sintió que no lo era cuando, inadvertidamente, otra vez volvió a ser deslumbrado.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En medio del curioso paisaje lunar que ofrecen los sugestivos médanos del Valle de Utracán, más allá de la travesía y del último horizonte en el que se diluye la llanura pampeana, el astro sagrado de tantos pueblos antiguos, con sus fulgores ya fatigados, vuelve a ser la brasa escarlata del alba para cerrar, en una fascinante apoteosis de matices rosados, el escenario de un día más. Un día más en el que ocurrió lo que ocurrió; un día más que, inexorable, él se encarga de enviar al sumidero del tiempo.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Más allá de los ciclos eternos, más allá de las dimensiones cósmicas en las que navega su naturaleza fugaz, el viajero sintió que en él vibraba una íntima y diáfana celebración por sentirse parte del concierto. </p>
        <br>
        <h5 class="autor">Angel Cirilo Aimetta</h5>
        <h6 class="comentario">Del libro: “Memorias de la llanura” (Inédito) - Santa Rosa, 22 de abril de 2012.</h6>
        <br>
        <!---
        <a class="anterior" routerLink="/cuento4">Anterior</a>
        <a class="siguiente" routerLink="/cuento2">Siguiente</a>--->

      </div>
        
    </div>

</section>
<app-footer></app-footer>
