<section class="cuento">
      
    <div class="pagina container">
      <div class="titulos">
        <h3>Las crías de Eulogia, en el Valle Daza</h3>  
      </div>
      <div class="texto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En el amplio living-room del chalet principal, circular y vidriado, con los altos cortinados corridos para que ingrese el sol de otoño, está el patrón recostado en su poltrona, con las botas puestas y las piernas estiradas y apoyadas en descanso sobre la banqueta que Eulogia se ha apresurado en arrimarle, como debe hacerlo habitualmente.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desde allí contempla el verde del parque y el campo que lo prolonga hasta la orilla espesa y gris del caldenal; de paso, desde esa visión de ciento ochenta grados puede observar casi todo el movimiento exterior.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eulogia, su sirvienta, le ceba unos amargos, taloneados desde la cocina.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hoy está de buen humor, distendido, platica morosamente con la visita y le pide a Eulogia que le renueve el mate, porque lo ve flojo. Mira el afuera, y observa que dos de los más chicos de los hijos de Eulogia (descalzos y rotositos) salen del galpón rumbo al monte cargando sendas hachas, un pico, una barreta y algunas cuñas. Suspende abstraído la mirada en la escena, frunce el entrecejo y bruscamente se da vuelta para acriminarle a la sirvienta:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—	Pero dígame una cosa Eulogia: … al fin, ¿cuántos críos tiene usted, carajo?<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—	No, al fin no son tantos, don Alfredo, sólo me quedan siete, los otros se me han muerto, aquí en el monte no más, como usted sabe... </p>
        <br>
        <h5 class="autor">Angel Aimetta</h5>
        <h6 class="comentario">Santa Rosa, diciembre de 2005</h6>
        <br>
        <!---
        <a class="anterior" routerLink="/cuento4">Anterior</a>
        <a class="siguiente" routerLink="/cuento2">Siguiente</a>--->

      </div>
        
    </div>

</section>

