<section class="cuento">
      
    <div class="pagina container">
      <div class="titulo">
        <h3>Para el que mira sin ver</h3>  
      </div>
      <div class="texto">
        <p>Para el que mira sin ver<br>
          La tierra es tierra nomás<br>
          Nada le dice la pampa<br>
          Ni el arroyo, ni el sauzal<br><br>
          
          Pero la pampa es guitarra<br>
          Que tiene un hondo cantar<br>
          Hay que escucharla de adentro<br>
          Donde nace el manantial<br><br>
          
          En el silbo de los montes<br>
          Lecciones toma el zorzal<br>
          El cardo es como un pañuelo<br>
          Dice adiós y no se va<br><br>
          
          Campo adentro y cielo limpio<br>
          Cha’ que es lindo galopear<br>
          Y sentir que adentro de uno<br>
          Se agranda la inmensidad<br><br>
          
          Un mundo en cada gramilla<br>
          Adioses en el cardal<br>
          Y pensar que para muchos<br>
          La tierra es tierra nomás<br><br>
        </p>
      </div>
        
    </div>

</section>
