/* ESTILO BIOGRAFIA */

#biografia {   
    background:black;
    height: max-content;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-align: center;
    color:grey;
    padding:50px;
  }

  .hoja h3 {    
    font-family: 'Qwitcher Grypen', cursive;
    
  }

  #imgBiografia {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
  }
  .foto {
    text-align: center;
  }
  .contenido {
    margin:0 auto;
  }
  