<section id="textos" >
    <div class="presentacion">
        <h2 class="titulo">Narraciones</h2>
        <p class="comentario">He aqui, una colección de audio narraciones, a cargo de lectores voluntarios, familiares y amigos.<br><b>A todos ellos, gracias.</b></p>
        <div class="">
            <div class="narradores">
                <ul>
                    <li>
                        <p class="narracion">El tachero de Elordi <span class="narrador">(Rovila Aimetta)</span></p>
                        <audio src="../../../assets/data/audios/El_tachero_de_Elordi.m4a" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">La visteada <span class="narrador">(Verónica Zalloco Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/La_Visteada.m4a" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">Espera <span class="narrador">(Lorenzo Miravalle Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/Espera.mp3" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">El gringo Carletti <span class="narrador">(Maria Fedra Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/El_gringo_Carletti.m4a" class="audio" controls></audio>
                    </li> 
                    <li>
                        <p class="narracion">Chacareros y músicos <span class="narrador">(Mónica Haberkorn Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/Los_Musicos.m4a" class="audio" controls></audio>
                    </li>  
                    <li>
                        <p class="narracion">Aurelio el ciclista <span class="narrador">(Clarisa Tubán)</span></p>                        
                        <audio src="../../../assets/data/audios/Aurelio_El_Ciclista.opus" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">Dureza en el monte <span class="narrador">(Rocio Del Carmen Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/Dureza_en_el_Monte.m4a" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">Don Pedro del Gualeguay <span class="narrador">(Rosanna Paola Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/Don_Pedro_del_Gualeguay.m4a" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">El tren frutero <span class="narrador">(Teseo Roman Barreix)</span></p>                        
                        <audio src="../../../assets/data/audios/El_tren_frutero.m4a" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">Noche de luz <span class="narrador">(Maria Fedra Aimetta)</span></p>                        
                        <audio src="../../../assets/data/audios/Noche_de_luz.m4a" class="audio" controls></audio>
                    </li>                
                </ul>                
            </div>                
        </div>                         
    </div>
</section>

    
    