<section id="textos" class="banner fixed">
    <div class="presentacion">
        <h2 class="titulo">Narraciones</h2>
        <p class="comentario">He aqui, una colección de audio narraciones, a cargo de lectores voluntarios, familiares y amigos.<br><b>A todos ellos, gracias.</b></p>
        <div class="">
            <div class="nanu">
                <ul>
                    <li>
                        <p class="narracion">El tachero de Elordi <span class="narrador">(Robina Aimetta)</span></p>
                        <audio src="../../../assets/data/audios/El_tachero_de_Elordi.m4a" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">La visteada <span class="narrador">(Verónica Zalloco)</span></p>                        
                        <audio src="../../../assets/data/audios/La_Visteada.m4a" class="audio" controls></audio>
                    </li>
                    <li>
                        <p class="narracion">Espera <span class="narrador">(Lorenzo Miravalle)</span></p>                        
                        <audio src="../../../assets/data/audios/Espera.mp3" class="audio" controls></audio>
                    </li>                     
                </ul>
                
            </div>                
        </div>                         
    </div>
</section>
