<section class="cuento">
      
    <div class="pagina container">
      <div class="titulos">
        <h3>Dureza en el monte</h3>  
      </div>
      <div class="texto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un duro sol fustiga impiadoso el paisaje del monte duro. Y en sus entrañas, cerradas, sombrías, late y retumba el golpe seco del hacha. El monte resiste.
            El hombre encendido, igual de duro, igual de impiadoso, descarga su brazo de filo brutal. Tajo a tajo consuma el sacrificio, como ofrenda a una deidad que lo avasalla o como un oscuro gesto de dominio.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Combaten frente a frente, sin fuego y sin llanto, la sangre caliente y la dura lignina.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Al hombre lo arrastrarán las horas hasta que, exhausto, recién pueda ver tumbado el árbol; pero el hombre sabe que ese momento supremo llegará. Y con rabia y gozo, celebrará el estruendo. El monte tiene siglos para ver caer al hombre, desgastado y vencido, sin filo y sin dominios.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Es el Sísifo del hacha cumpliendo su condena, y la piedra es el monte de siete vidas que vuelve una y otra vez, más allá de una vida.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dura el hacha, duro el monte, duros el sol y el tiempo. Y duro el corazón del hombre.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dura es la choza deshecha y harapienta. Hondo su adentro, que el sol espía por las hendijas. La cumbrera está vencida. Y la paja puna, vieja y polvorienta, apelmaza el tiempo y la pobreza.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Covacha dormidero con lujo de piso alisado. Morada de las vinchucas.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mudo brasero de fundición. Vacío el fogón, con chimenea de tarros enganchados, tiznados, al centro, aguardando el invierno. Latas y cacharros prendidos de las horquetas. El monte no le ha dado más espacio, y el toldo se las arregla, apocado; ni cuña le hace. Pero está ahí, no para el monte, sino para el hombre. Un par de alpargatas rotas al sol. Media camisa-medio trapo colgando de un púa. Un trozo de picana y un alón de charo grande hechos charqui en su gancho. Una palangana enlozada, cachusa, picada. Un colchón arrollado con pilchas revueltas, y a su lado, recostada sobre la pared de chorizo, una guitarra.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No hay familia allí y el hachero vive solo. Desde hace muchos años vive solo. Tampoco hay agua allí. Allí no hay agua. Un barril con tufo, tiene un poco.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A dos metros de la puerta de bolsa, como una llamarada, cubierto de flores, un rojo duraznero, dispuesto a frutecer, en el mejor de los mundos... 
            El sabe del amor de unas rústicas manos que allí le dieron vida, que han sabido cuidarlo, y ayudarlo a frutar un año más...       
        </p>
        <br>
        <h5 class="autor">Angel Aimetta</h5>
        <h6 class="comentario">Del libro Oficios y personajes del campo.</h6>
      </div>
        
    </div>

</section>
<app-footer></app-footer>
