.titulos {
    text-align: center;
    margin-top:45px;
    margin-bottom: 45px;
} 

.texto {
    margin-left:10%;
    margin-right: 10%;
}

.comentario {
    margin-bottom:30px;
}

.parrafo {
    text-indent: 2em;
}

.cuento {
    margin:20px 60px 0 60px;
    padding: 25px;
    background:white;
}