<section id="bibliografia">
    <div class="presentacion">
        <h2 class="titulo">Bibliografía</h2>
    </div>
    <div class="muestrario">
        <div class="cajas row">
            <div class="foto col-md-6">
                <img class="portada" src="/../../assets/img/deloscuatrovientos.png" alt="...">
            </div>
            <div class="reseña col-md-6">
                <div class="titu container">
                    <h4 class="">De los cuatro vientos</h4>
                </div>
                <div class="enlace container">
                    <a class="" href="../../../assets/libros/De los cuatro vientos.pdf" target="blanck">Descargar</a>
                </div>   
               
                <!---
                <p>"...Permítaseme, por último, unas notas de mis sentimientos: vaya mi querido e imborrable recuerdo a tantos paisanos que han sido mis compañeros de trabajo y mi testimonio de amor entrañable a esos lugares rurales en los que viví y también a estas extendidas llanuras de mi querida provincia, particularmente a los hombres y mujeres del Oeste pampeano."</p>
                --->
                              
            </div>
        </div>
        <div class="cajas row">
            <div class="foto col-md-6">
                <img class="portada" src="../../../assets/img/oficios.jpg" alt="...">
            </div>
            <div class="reseña col-md-6">
                <div class="titu container">
                    <h4 class="">Oficios y personajes del campo</h4>
                </div>
                <div class="container enlace">
                    <a class="" href="../../../assets/libros/TODOS LOS CUENTOS JUNTOS - EL LIBRO-.doc" target="blanck">Descargar</a>
                </div>               
            </div>
        </div>
    </div> 
</section>  



