section {
    margin:0 auto;
    padding:0 auto;
    text-align: center;
}

.presentacion {
    padding:0 auto;
    margin:0 auto;
} 
.titulo {
    font-family: 'Qwitcher Grypen', cursive;
    font-size:5rem;
    color:rgb(63, 9, 9);
    margin:0 auto;
    padding-top:5px;
}

#bibliografia {
    margin:70px 0 0 0;
    padding: 25px;
}

.muestrario {
    text-align: center;
    padding:25px 20%
}

.cajas {
    margin:40px auto;
}

.album {
    padding:0 auto;
    margin:0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.portada {
    width:200px;
    border:3px solid black
}

.reseña {
    padding:10px;    
    border-radius: 25px;
}

.reseña h4{
    margin:15px 0px;
    background-color:white;
    color:black;
    border:1px solid black;
    padding:10px;
    font-family:'Times New Roman', Times, serif;
}

.reseña a {
    background-color: white;
    padding:5px;
    border:1px solid black;
}
*/
.texto button {
    margin:10px
}


@media only screen and (max-width: 460px) {
    .banner h2 {        
        font-size:4rem;
    }
    #bibliografia {        
        padding: 5px;
    }
}
/*
@media only screen and (max-width: 1000px) {
    .reseña p {        
        display:none
    }
}
*/