section {
    margin:0 auto;
    padding:0 auto;
    text-align: center;
}
/* Banner y titulo*/

.presentacion {    
    text-align: center;
    justify-content: center;
    padding:0 auto;
    margin:0 auto;
} 
.titulo {
    font-family: 'Qwitcher Grypen', cursive;
    font-size:5rem;
    color:rgb(63, 9, 9);
    margin:0 auto;
    padding-top:5px;
}

.libro-img {/*
    max-height: 40vh;*/
    border:2px solid black;/*
    max-width: 40vw;*/
}
.libro {
    margin:25px auto;
}

#bibliografia {
    margin:70px 0 0 0;
    padding: 25px;
}
.libro {
    border:2px solid black;
    padding:0;
}
.libro h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top:10px;
}


@media only screen and (max-width: 460px) {
    .banner h2 {        
        font-size:4rem;
    }
    #bibliografia {        
        padding: 5px;
    }

}