<section id="bibliografia">    
    <div class="row">
        <div class="col-md-6 hidden">
            <div class="aparece"  *ngIf="aparece">
                <div class="libristico">
                    <a href="../../../assets/libros/De los cuatro vientos.pdf" target="blanck">
                        <div class="text-center">
                            <p>De los cuatro vientos</p>
                        </div>                    
                        <img id="portada-libro" src="../../../assets/img/deloscuatrovientos.png" alt="">
                    </a>                    
                </div>
                <div class="libristico">
                    <a href="../../../assets/libros/TODOS LOS CUENTOS JUNTOS - EL LIBRO-.doc" target="blanck">
                        <div class="text-center">
                            <p>Oficios y personajes del campo</p>
                        </div>                    
                        <img id="portada-libro" src="../../../assets/img/oficios.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mitad">     
            <button class="btn-sol"><i class="bi bi-brightness-high-fill" (click)="change()"></i></button>
            <div>                
                <img id="flechilla" src="../../../assets/img/flechilla.png" alt="">
            </div>              
            <p id="bbbb">Libros</p>               
        </div>
    </div>
</section>