<section id="bibliografia" class="banner fixed">
    <div class="presentacion">
        <h2 class="titulo">Bibliografia</h2>
    </div>
        <hr>

        <div class="libro">
            <img class="libro-img" src="../../../assets/img/deloscuatrovientos.png"alt="">
            <h4>De los cuatro vientos</h4>
<!----
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum est sunt ea, consequuntur consectetur vero? Ducimus consequuntur repellendus voluptate soluta. Nesciunt iure ipsa illo temporibus blanditiis nihil aspernatur aut distinctio!</p>--->
            <a href="../../../assets/libros/De los cuatro vientos.pdf" target="blanck">Descargar</a>

        </div>
        <hr>
        <div class="libro">
            <img class="libro-img" src="../../../assets/img/oficiosypersonajes.png"alt="">
            <h4>Oficios y personajes del campo</h4>
<!----
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum est sunt ea, consequuntur consectetur vero? Ducimus consequuntur repellendus voluptate soluta. Nesciunt iure ipsa illo temporibus blanditiis nihil aspernatur aut distinctio!</p>
--->
            <a href="../../../assets/libros/TODOS LOS CUENTOS JUNTOS - EL LIBRO-.doc" target="blanck">Descargar</a>
        </div>
        <hr>




    
</section>
<app-footer></app-footer>
